{% extends "base.html" %}
{% load static %}

{% block header %}
<div class="col-sm-6">
    <h1 class="m-0">Reporte Operacional</h1>
  </div><!-- /.col -->
  <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="#"></a></li>
    </ol>
  </div><!-- /.col -->
{% endblock %}

{% block body %}
  <div class="col-md-9"> 
  <h1>Matriz de Relaciones</h1>
    <table border="1">
      <tr>
        <th>Etapa</th>
        {% for cie in cies %}
            <th>{{ cie.Cie }}</th>
        {% endfor %}
      </tr>
      {% for etapa, relaciones in matriz.items %}
      <tr>
        <td>{{ etapa.Etapa }}</td>
        {% for cie, relacion in relaciones.items %}
          <td>{{ relacion }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>

{% endblock %}