{% extends "base.html" %}
{% load static %}
{% block body %}

<div class="container mt-4">
    <h2>REGISTRO ACTIVIDAD POI</h2>
    <form method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-3">{{ form.ano.label_tag }} {{ form.ano }}</div>
            <div class="col-md-3">{{ form.tipo_presupuesto.label_tag }} {{ form.tipo_presupuesto }}</div>
            <div class="col-md-3">{{ form.nro_registro.label_tag }} {{ form.nro_registro }}</div>
            <div class="col-md-3">{{ form.fecha_registro.label_tag }} {{ form.fecha_registro }}</div>
        </div>

        <h4 class="mt-4">I. ESTRUCTURA ORGÁNICA</h4>
        <div class="row">
            <div class="col-md-6">{{ form.pliego.label_tag }} {{ form.pliego }}</div>
            <div class="col-md-6">{{ form.unidad_ejecutora.label_tag }} {{ form.unidad_ejecutora }}</div>
            <div class="col-md-6">{{ form.organo_departamento.label_tag }} {{ form.organo_departamento }}</div>
            <div class="col-md-6">{{ form.centro_costo.label_tag }} {{ form.centro_costo }}</div>
        </div>

        <!-- Secciones similares para Plan Estratégico, Planificación y Actividad Operativa -->

        <h4 class="mt-4">PROGRAMACIÓN MENSUAL DE ACTIVIDAD OPERATIVA</h4>
        {{ formset.management_form }}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Mes</th>
                    <th>Meta Física</th>
                    <th>Meta Presupuestal (S/.)</th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                <tr>
                    <td>{{ form.mes }}</td>
                    <td>{{ form.meta_fisica }}</td>
                    <td>{{ form.meta_presupuestal }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="mt-4">
            <button type="submit" class="btn btn-success">Grabar</button>
            <a href="{% url 'lista_actividades_poi' %}" class="btn btn-danger">Cancelar</a>
        </div>
    </form>
</div>

{% endblock %}